{% extends "index.html"%}
		
		{%block body%}


		<h1 class="cls1">Contact me</h1>

		<h1 class="cls2">If you want to know more about me, don't hesistate to contact me by clicking on the following links!</h1>

		<a href="https://www.facebook.com/mumen.alkhatib"class="contact" target="_blank">
		<img src="static/facebook.png"/>
		</a>

		<a href="https://www.instagram.com/mumenkhatibb/"class="contact" target="_blank">
		<img src="static/instagram.png"/>
		</a>

		<a href="https://twitter.com/mumenkhatibb"class="contact" target="_blank">
		<img src="static/twitter.png"/>
		</a>


		<h1 class="contact1"> My number : 0595509487</h1>

		<h1 class="contact1">My email : mumen_alkhatib@yahoo.com</h1>



		<div class="mail">

		<h2>Give me your feedback</h2>

		<form name="XX" action="#">
		<ul>
		<li><input type='text' name='X'/></li>
		<li class="rq">*User name</li>
		<li>&nbsp;</li>
		</ul>
		</form>


		<form name="ZZ" action="#">
		<ul>
		<li><input type='text' name='Z'/></li>
		<li class="rq">*Your feedback</li>
		<li>&nbsp;</li>
		<li><input type="submit" name="submit" value="Submit" onclick="Function(document.ZZ.Z)" /></li>
		<li>&nbsp;</li>
		</ul>
		</form>

		</div>
		<script src="Javascript.js"></script>


{%endblock%}