{% extends "index.html"%}

		{%block body%}



		<h1 class="cls1">My hobbies</h1>

		<li class="cls6">
		<h1 >Taking pictures</h1>
		<p>I think it's very nice for someone to have this as a hoppy. As Marc Rboud once said "Taking pictures is savoring life intensely every hundredth of a second."</p>
		</li>
		<image src ="static/taking pictures.jpg" class="cls7"/>

		<li class="cls6">
		<h1 class="cls8">Football</h1>
		<p>I love playing football, and I am pretty good at it.</p>
		</li>
		<image src ="static/football.jpg" class="cls7"/>

		<li class="cls6">
		<h1 class="cls9">Programing</h1>
		<p>"Everyone should know how to program a computer because it teaches you how to think."-Steve Jobs. It's my passion. In my opinion, programmers are like artists. It is honestly a fascinating thing to do." </p>
		</li>
		<image src ="static/progrmaing.jpg" class="cls7"/>


{%endblock%}