{% extends "index.html"%}

		{%block body%}

		<h1 class="cls1">My games</h1>

		<h1 class="cls2">Some of the things I did while participating in We code program</h1>
		<h2 class="cls3">Click on any one you like and you will see how i made it</h2>


<div class ="img1">
<table>
<tr>
<td>
<img  id = "img1" src = "static/first.png"/>		
<h3 id="mumen2" style="display:none; ">		

		<P class="cls4">Without this the code will not work</P>
		<code class="cls5">
		<pre> 
import turtle
		</pre></code>


		<P class="cls4">This line changes the turtle color's</P>
		<code class="cls5">
		<pre> 
turtle.color("blue")
		</pre></code>


		<P class="cls4">This line makes the turtle draw</P>
		<code class="cls5">
		<pre> 
turtle.begin_fill()
		</pre></code>


		<P class="cls4">These lines change the directions</P>
		<code class="cls5">
		<pre> 		
turtle.forward(120)
turtle.right(145)
turtle.forward(120)
turtle.right(145)
turtle.forward(120)
turtle.right(145)
turtle.forward(120)
turtle.right(143)
turtle.forward(140)
turtle.right(143)
turtle.forward(170)
turtle.right(143)
turtle.forward(185)
turtle.right(143)
turtle.forward(200)
turtle.right(147)
turtle.forward(200)
turtle.right(142)
turtle.forward(230)
turtle.right(145)
turtle.forward(260)
turtle.right(143)
turtle.forward(265)
turtle.right(143)
turtle.forward(280)
turtle.right(147)
turtle.forward(280)
turtle.right(142)
turtle.forward(300)
turtle.right(145)
turtle.forward(340)
turtle.right(143)
turtle.forward(345)
turtle.right(143)
turtle.forward(360)
turtle.right(147)
turtle.forward(360)
turtle.right(142)
turtle.forward(380)
turtle.right(145)
turtle.forward(420)
turtle.right(143)
turtle.forward(420)
turtle.right(143)
turtle.forward(440)
turtle.right(147)
turtle.forward(440)
turtle.right(142)
turtle.forward(435)
turtle.right(145)
turtle.forward(30)
		</pre></code>


		<P class="cls4">This line makes the turtle stop</P>
		<code class="cls5">
		<pre> 
turtle.end_fill()
		</pre></code>


		<P class="cls4">Without this the code will not work</P>
		<code class="cls5">
		<pre> 
turtle.mainloop()
		</pre></code>
	</h3>
</td>
</tr>
</table>
</div>

















<div class ="img2">
<table>
<tr>
<td>
<img id = "img2" src = "static/second.png"/>
<h3 id="mumen3" style="display:none;">		<P class="cls4">Without this the code will not work</P>
		<code class="cls5">
		<pre> 
import turtle
		</pre></code>


		<P class="cls4">This line determines the turtle's shape</P>
		<code class="cls5">
		<pre> 
turtle.shape("turtle")
		</pre></code>


		<P class="cls4">This line makes the turtle draw a circle</P>
		<code class="cls5">
		<pre> 
turtle.circle(40)
		</pre></code>


		<P class="cls4">These lines control the turtle's directions</P>
		<code class="cls5">
		<pre> 		
turtle.right(90)
turtle.forward(10)
turtle.left(90)
turtle.forward(60)
turtle.right(90)
turtle.forward(80)
turtle.right(90)
turtle.forward(20)
turtle.right(90)
turtle.forward(60)
turtle.left(90)
turtle.forward(10)
turtle.left(90)
turtle.forward(200)
turtle.right(90)
turtle.forward(20)
turtle.right(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(20)
turtle.left(90)
turtle.forward(100)
turtle.right(90)
turtle.forward(20)
turtle.right(90)
turtle.forward(200)
turtle.left(90)
turtle.forward(10)
turtle.left(90)
turtle.forward(60)
turtle.right(90)
turtle.forward(20)
turtle.right(90)
turtle.forward(80)
turtle.right(90)
turtle.forward(60)
turtle.left(90)
turtle.forward(10)
		</pre></code>


		<P class="cls4">Without this the code will not work</P>
		<code class="cls5">
		<pre> 
turtle.mainloop()
		</pre></code>
	</h3>
</td>
</tr>
</table>
</div>

















<div class ="img3">
<table>
<tr>
<td>
<img id = "img3" src = "static/third.png"/>
<h3 id="mumen4" style="display:none;">
		<P class="cls4">Without this the code will not work</P>
		<code class="cls5">
		<pre> 
import turtle
		</pre></code>


		<P class="cls4">This line controls the turtle's speed</P>
		<code class="cls5">
		<pre> 
turtle.speed(100)
		</pre></code>


		<P class="cls4">This line controls the turtle's pensize</P>
		<code class="cls5">
		<pre> 
turtle.pensize(1.5)
		</pre></code>


		<P class="cls4">This line controls the turtle's position</P>
		<code class="cls5">
		<pre> 
turtle.backward(100)
		</pre></code>


		<P class="cls4">This line controls the turtle's pencolor</P>
		<code class="cls5">
		<pre> 
turtle.pencolor("red")
		</pre></code>


		<P class="cls4">This line colors the shape</P>
		<code class="cls5">
		<pre> 	
turtle.fillcolor("yellow")
		</pre></code>


		<P class="cls4">This line makes the turtle draw</P>
		<code class="cls5">
		<pre> 
turtle.begin_fill()
		</pre></code>


		<P class="cls4">This line is to repeat the draw</P>
		<code class="cls5">
		<pre> 
for i in range(180):
		</pre></code>


		<P class="cls4">These lines control the turtle's directions</P>
		<code class="cls5">
		<pre> 
turtle.forward(300)
turtle.right(170)
		</pre></code>


		<P class="cls4">This line makes the turtle stop</P>
		<code class="cls5">
		<pre> 
turtle.end_fill()
		</pre></code>


		<P class="cls4">Without this the code will not work</P>
		<code class="cls5">
		<pre> 
turtle.done()
		</pre></code>
</h3>
</td>
</tr>
</table>
</div>
</div>


{%endblock%}